body{
    font-family: 'Special Elite', cursive;
    background-color: rgb(199, 199, 255);
}

.header_div{
    background-color: rgb(252, 210, 225);
    color:rgb(70, 64, 109);
}

.header_div img{
    width:100px;
}

.main_div{
    background-color: powderblue;
    padding: 10px;
    margin-top: 15px;
    border:3px solid whitesmoke;
}

.main_div label{
    background:white;
    width:310px;
    padding:10px;
    margin-bottom:0px;
    box-shadow: 5px 5px 18px white;
}

#camera{
    border: 2px solid white;
    width:310px;
    height:300px;
    box-shadow: 5px 5px 18px white;
}

.main_div button{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid thistle;
}